<h1>Welcome to Chap App - Rails Version</h1>


<form action='/chat', method='post'>
  <input type="hidden" name="authenticity_token" value="token_value">
  <label for="user">USER: </label>
  <select name="user" id="user">
    <% @users.each do |u| %>
      <option value=<%= u.id %>><%= u.name %></option>
    <% end %>
  </select>

  <label for="channel">CHANNELS: </label>
  <select name="channel" id="channel">
    <% @channels.each do |c| %>
      <option value=<%= c.id %>><%= c.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Enter Chat">
</form>
