
<h3>Select a User to sign in.</h3>
<form action='/chat/user-sign-in', method='post'>
  <input type="hidden" name="authenticity_token" value="token_value">
  <label for="user">USER: </label>
  <select name="user" id="user">
    <% @users.each do |u| %>
      <option value=<%= u.id %>><%= u.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Enter">
</form>
