<h1>Welcome to Chap App - Rails Version</h1>


<form action='/chat', method='post'>
  <input type="hidden" name="authenticity_token" value="token_value">
  <label for="users">USER: </label>
  <select name="users" id="users">
    <% @users.each do |u| %>
      <option value=<%= u.id %>><%= u.name %></option>
    <% end %>
  </select>

  <label for="channels">CHANNELS: </label>
  <select name="channels" id="channels">
    <% @channels.each do |c| %>
      <option value=<%= c.id %>><%= c.name %></option>
    <% end %>
  </select>
  <input type="submit" value="Enter Chat">
</form>
