// Place all the styles related to the Chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#chat-window {
  height: 300px;
  overflow: scroll;
  // margin-left: -40px;
  background: rgb(250,250,250);
  padding: 5px;
  border-radius: 10px;
  // box-shadow: 5px 5px 5px #888888;
  // border: 1px solid black;

  li {
    list-style: none;
    margin-top: 2px;
    padding:10px 0px 10px 0;
  }
}

.message-form {
  input[type="text"] {
    width: 300px;
    padding: 5px 0px 5px 0px;
  }

  input[type="submit"] {
    padding: 5px 0px 5px 0px;
  }
}
