
<div class="container">
	<%= react_component('User', { data: @users }, {prerender: true}) %>
	<%= react_component('Channel', { data: @channels }, {prerender: true}) %>
	<%= react_component('Message', { data: @messages }, {prerender: true}) %>
</div>